[submodule "externals/toml11"]
	path = externals/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "externals/hdf5"]
	path = externals/hdf5
	url = https://github.com/HDFGroup/hdf5
[submodule "externals/kokkos"]
	path = externals/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "externals/kokkos-kernels"]
	path = externals/kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
